{% extends "homepage.html" %}
{% load static %}
{% block content %}
         <!-- Main Header-->
		 {% include 'include/header.html' %}
         <!-- End Main Header -->
         <!-- Page Title -->
         <section class="page-title">
            <div class="auto-container">
               <h1>Contact Us</h1>
               <!-- Search Boxed -->
               <div class="search-boxed">
                  <div class="search-box">
                     <form method="post" action="contact.html">
                        <div class="form-group">
                           <input type="search" name="search-field" value="" placeholder="What do you want to learn?" required>
                           <button type="submit"><span class="icon fa fa-search"></span></button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </section>
         <!--End Page Title-->
         <!-- Contact Page Section -->
         <section class="contact-page-section">
            <div class="patern-layer-one paroller" data-paroller-factor="0.40" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image: url(images/icons/icon-1.png)"></div>
            <div class="patern-layer-two paroller" data-paroller-factor="0.40" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image: url(images/icons/icon-2.png)"></div>
            <div class="auto-container">
               <div class="inner-container">
                  <!-- Sec Title -->
                  <div class="sec-title centered">
                     <h2>Get in touch</h2>
                  </div>
                  <!-- Contact Form -->
                  <div class="contact-form">
                     <!-- Profile Form -->
                     <form method="post" action="sendemail.php" id="contact-form">
                        <div class="row clearfix">
                           <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                              <input type="text" name="username" placeholder="First Name*" required="">
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                              <input type="text" name="lastname" placeholder="Last Name*" required="">
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                              <input type="email" name="email" placeholder="Email Address*" required="">
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                              <input type="text" name="phone" placeholder="Phone Number*" required="">
                           </div>
                           <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                              <textarea class="" name="message" placeholder="Send Message"></textarea>
                           </div>
                           <div class="col-lg-12 col-md-12 col-sm-12 form-group text-right">
                              <button class="theme-btn btn-style-three" type="submit" name="submit-form"><span class="txt">Send Message <i class="fa fa-angle-right"></i></span></button>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
               <!-- Contact Info Section -->
               <div class="contact-info-section">
                  <div class="title-box">
                     <h2>Контактная информация</h2>
                     
                  </div>
                  <div class="row clearfix">
                     <!-- Info Column -->
                     <div class="info-column col-lg-4 col-md-6 col-sm-12">
                        <div class="info-inner">
                           <div class="icon fa fa-phone"></div>
                           <strong>Телефонный номер</strong>
                           <ul>
                              <li><a href="tel:+1-123-456-7890">{{setting.phone}}</a></li>
                           </ul>
                        </div>
                     </div>
                     <!-- Info Column -->
                     <div class="info-column col-lg-4 col-md-6 col-sm-12">
                        <div class="info-inner">
                           <div class="icon fa fa-envelope-o"></div>
                           <strong>Почта</strong>
                           <ul>
                              <li><a href="mailto:info@yourcompany.com">{{setting.email}}</a></li>

                           </ul>
                        </div>
                     </div>
                     <!-- Info Column -->
                     <div class="info-column col-lg-4 col-md-6 col-sm-12">
                        <div class="info-inner">
                           <div class="icon fa fa-map-marker"></div>
                           <strong>Наш адрес</strong>
                           <ul>
                              <li>{{setting.locate}}</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- End Contact Page Section -->
         <!-- Map Section -->
         <section class="map-section">
            <!-- Map Boxed -->
            <div class="map-boxed">
               <!--Map Outer-->
               <div class="map-outer">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12133.561125369184!2d72.79253553068847!3d40.51086391876319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bdae99519edfeb%3A0x4e5cfa9072d928f4!2sTooman%20resto%20Bar!5e0!3m2!1sru!2skg!4v1683733656493!5m2!1sru!2skg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
               </div>
            </div>
         </section>
         <!-- End Map Section -->
         <!-- Call To Action Section Two -->
         <section class="call-to-action-section-two" style="background-image: url(images/background/3.png)">
            <div class="auto-container">
               <div class="content">
                  <h2>Ready to get started?</h2>
                  <div class="text">Replenish him third creature and meat blessed void a fruit gathered you’re, they’re two <br> waters own morning gathered greater shall had behold had seed.</div>
                  <div class="buttons-box">
                     <a href="course.html" class="theme-btn btn-style-one"><span class="txt">Get Stared <i class="fa fa-angle-right"></i></span></a>
                     <a href="course.html" class="theme-btn btn-style-two"><span class="txt">All Courses <i class="fa fa-angle-right"></i></span></a>
                  </div>
               </div>
            </div>
         </section>
         <!-- End Call To Action Section Two -->
         <!--Main Footer-->
         {% include 'include/footer.html' %}
{% endblock %}